.container-footer {
  height: 100%;
  width: 100%;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.contact-page {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-button {
  background-image: linear-gradient(
    to right,
    #36d1dc 0%,
    #5b86e5 51%,
    #36d1dc 100%
  );
}

.contact-image {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 0 30px rgb(0, 153, 255);
}
.contact-image-dark {
  background-color:black;
  box-shadow: 0 0 30px rgb(0, 153, 255);
}
.contact-image:hover {
  box-shadow: 0 0 60px rgb(0, 153, 255);
}
.contact-image-icon {
  height: 6.7rem;
  width: 6.7rem;
  border-radius: 50%;
}
.contact-text-div {
  margin: 2rem 2rem 0.5rem 2rem;
}
.contact-text {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-decoration: none;
}
.contact-button {
  margin: 5px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 30px rgb(255, 255, 255);
  border-radius: 30px;
  display: block;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 7px;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
}

.contact-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px rgb(18, 87, 206);

  animation-duration: 1s;
  animation-name: headShake;
  animation-iteration-count: infinite;
}

.contact-me-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Footer starts here */

.footer-page {
  height: 20%;
  width: 100%;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
  display: flex;
  /* justify-content: center;
    align-items: center;
    text-align: center; */
}
.footer-left {
  width: 33.33%;
  height: auto;
  margin: 2rem;
  text-align: left;
}

.address-heading {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.2rem 0;
}
.address > p {
  font-size: 0.8rem;
}
.address > p > a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}
.address > p > a:hover {
  text-decoration: underline;
  color: blue;
}

.footer-center {
  width: 33.33%;
  height: auto;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-right {
  width: 33.33%;
  height: auto;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Social icon starts*/

.social-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0.3rem;
  background-color: black;
  border: none;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transition: all 0.5s;
  cursor: pointer;
}
.social-icon > i {
  color: white;
  font-size: 1rem;
}
.social-icon > a {
  color: white;
  font-size: 1rem;
}
.social-icon:hover {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  transform: translateY(-8px);
  color: black;
  box-shadow: 0 0 10px rgb(252, 253, 160);
}

/* Social icon ends*/

.footer-right {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.footer-right > p {
  font-size: 0.7rem;
}

/* Footer ends here */

/* Responsiveness Starts here */
@media only screen and (max-width: 675px) {
  .footer-page {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
    height: auto;
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}
/* Responsiveness Ends here */
