/* for dark mode starts*/
.dark-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}


/* dark mode button */
.dark-mode-icon {
  /* margin: 1rem; */
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: 0 0 2rem rgba(28, 43, 255, 0.9);
  cursor: pointer;
}

.btn-color-change {
    background-color:black;
    color: white;
}
.dark-button-shadow {
    box-shadow: 0 0 2rem rgba(208, 255, 0, 0.9);
}

/* for neuromorphism */
.neuromorphism {
  background: #f0f0f0;
  box-shadow: 25px 25px 60px rgba(85, 66, 255, 0.45),
            -25px -25px 60px #000000;
}


/* for dark mode detection */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color:black;
    color: white;
  }
} */